html,
body {
    height: 100%;
}

#wrapper {
    display: table;
    width: 100%;
    height: 100%;
    min-height: 100%;
}

#content-wrapper {
    display: table-row;
    height: 100%;
}

#footer-wrapper {
    background: #ffffff;
}

header .wrapper {
    padding: 2rem 0 1rem;
}

header .top__header {
    margin-bottom: 2rem;
}

header .menu__box {
    position: static !important;
}

header #mainmenu_dropdown {
    position: static !important;
}

#about_project {
    background-color: #ffffff;
    background-image: url("/images/about__bg.jpg");
}

.page__header {
    margin-bottom: 2rem;
}

.footer {
    padding: 3rem 0;
    color: #595959;
}

.footer .title {
    font-size: 1.15rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    color: #000;
}

.logo > a {
    display: block;
}