/* Proxima Nova */

@font-face {
    font-family: 'Proxima Nova';
    src: url('../src/ProximaNova-Regular.eot');
    src: local('Proxima Nova Regular'), local('ProximaNova-Regular'),
    url('../src/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
    url('../src/ProximaNova-Regular.woff') format('woff'),
    url('../src/ProximaNova-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../src/ProximaNova-RegularIt.eot');
    src: local('Proxima Nova Regular Italic'), local('ProximaNova-RegularIt'),
    url('../src/ProximaNova-RegularIt.eot?#iefix') format('embedded-opentype'),
    url('../src/ProximaNova-RegularIt.woff') format('woff'),
    url('../src/ProximaNova-RegularIt.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../src/ProximaNova-Bold.eot');
    src: local('Proxima Nova Bold'), local('ProximaNova-Bold'),
    url('../src/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
    url('../src/ProximaNova-Bold.woff') format('woff'),
    url('../src/ProximaNova-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../src/ProximaNova-BoldIt.eot');
    src: local('Proxima Nova Bold Italic'), local('ProximaNova-BoldIt'),
    url('../src/ProximaNova-BoldIt.eot?#iefix') format('embedded-opentype'),
    url('../src/ProximaNova-BoldIt.woff') format('woff'),
    url('../src/ProximaNova-BoldIt.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../src/ProximaNovaT-Thin.eot');
    src: local('Proxima Nova Thin'), local('ProximaNovaT-Thin'),
    url('../src/ProximaNovaT-Thin.eot?#iefix') format('embedded-opentype'),
    url('../src/ProximaNovaT-Thin.woff') format('woff'),
    url('../src/ProximaNovaT-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../src/ProximaNova-ThinIt.eot');
    src: local('Proxima Nova Thin Italic'), local('ProximaNova-ThinIt'),
    url('../src/ProximaNova-ThinIt.eot?#iefix') format('embedded-opentype'),
    url('../src/ProximaNova-ThinIt.woff') format('woff'),
    url('../src/ProximaNova-ThinIt.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../src/ProximaNova-Light.eot');
    src: local('Proxima Nova Light'), local('ProximaNova-Light'),
    url('../src/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
    url('../src/ProximaNova-Light.woff') format('woff'),
    url('../src/ProximaNova-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../src/ProximaNova-LightIt.eot');
    src: local('Proxima Nova Light Italic'), local('ProximaNova-LightIt'),
    url('../src/ProximaNova-LightIt.eot?#iefix') format('embedded-opentype'),
    url('../src/ProximaNova-LightIt.woff') format('woff'),
    url('../src/ProximaNova-LightIt.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../src/ProximaNova-Semibold.eot');
    src: local('Proxima Nova Semibold'), local('ProximaNova-Semibold'),
    url('../src/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
    url('../src/ProximaNova-Semibold.woff') format('woff'),
    url('../src/ProximaNova-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}


@font-face {
    font-family: 'Proxima Nova';
    src: url('../src/ProximaNova-SemiboldIt.eot');
    src: local('Proxima Nova Semibold Italic'), local('ProximaNova-SemiboldIt'),
    url('../src/ProximaNova-SemiboldIt.eot?#iefix') format('embedded-opentype'),
    url('../src/ProximaNova-SemiboldIt.woff') format('woff'),
    url('../src/ProximaNova-SemiboldIt.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../src/ProximaNova-Extrabld.eot');
    src: local('Proxima Nova Extrabold'), local('ProximaNova-Extrabld'),
    url('../src/ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype'),
    url('../src/ProximaNova-Extrabld.woff') format('woff'),
    url('../src/ProximaNova-Extrabld.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../src/ProximaNova-ExtrabldIt.eot');
    src: local('Proxima Nova Extrabold Italic'), local('ProximaNova-ExtrabldIt'),
    url('../src/ProximaNova-ExtrabldIt.eot?#iefix') format('embedded-opentype'),
    url('../src/ProximaNova-ExtrabldIt.woff') format('woff'),
    url('../src/ProximaNova-ExtrabldIt.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../src/ProximaNova-Black.eot');
    src: local('Proxima Nova Black'), local('ProximaNova-Black'),
    url('../src/ProximaNova-Black.eot?#iefix') format('embedded-opentype'),
    url('../src/ProximaNova-Black.woff') format('woff'),
    url('../src/ProximaNova-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../src/ProximaNova-BlackIt.eot');
    src: local('Proxima Nova Black Italic'), local('ProximaNova-BlackIt'),
    url('../src/ProximaNova-BlackIt.eot?#iefix') format('embedded-opentype'),
    url('../src/ProximaNova-BlackIt.woff') format('woff'),
    url('../src/ProximaNova-BlackIt.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

/* End Proxima Nova */
